<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Pelicula</title>
</head>
<body>
    <h1>Formulario de creacion de pelicula</h1>
    <br>
    <form action="/pelicula/guardar" method="POST">
        <fieldset>
            <label for="titulo">Titulo:</label>
            <input type="text" name="titulo">
        </fieldset>
        <fieldset>
            <label for="correo">Correo Electronico:</label>
            <input type="text" name="correo">
        </fieldset>
        <fieldset>
            <label for="contrase単a">Contrase単a:</label>
            <input type="password" name="clave">
        </fieldset>
        <fieldset>
            <label for="confirmarContrase単a">Confirmar Contrase単a:</label>
            <input type="password" name="confirmarClave">
        </fieldset>
        <fieldset>
            <button type="submit">Crear</button>
            <button type="reset">Resetear</button>
        </fieldset>
    </form>
</body>
</html>