<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de pelicula</title>
</head>
<body>
    <h1>Toda la info de Pelicula</h1>
    <p>nombre</p>
    <p>año</p>
    <p>actores</p>
    <p>etc</p>
    <br>
    <button><a href="/pelicula/editar/<%= peliculas.id %>">Editar pelicula</a></button>
    <form action="/pelicula/borrar/<%= peliculas.id %>?_method=DELETE" method="POST">
        <button type="submit">Borrar pelicula</button>
    </form>
</body>
</html>