<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Usuario</title>
</head>
<body>
    <h1>Edita tu perfil:</h1>
    <form action="/usuario/actualizar/<%= usuarios.id %>?_method=PUT" method="POST">
        <fieldset>
            <label for="nombreCompleto">Nombre Completo:</label>
            <input type="text" name="nombre">
        </fieldset>
        <fieldset>
            <label for="correo">Correo Electronico:</label>
            <input type="text" name="correo">
        </fieldset>
        <fieldset>
            <label for="contrase単a">Contrase単a:</label>
            <input type="password" name="clave">
        </fieldset>
        <fieldset>
            <label for="confirmarContrase単a">Confirmar Contrase単a:</label>
            <input type="password" name="confirmarClave">
        </fieldset>
        <fieldset>
            <button type="submit">Editar</button>
            <button type="reset">Resetear</button>
        </fieldset>
    </form>
</body>
</html>