<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>
<body>
    <h1>Bienvenidos a G-Peliculas!!</h1>
    <br>
    <button><a href="/usuario/ingresar">Ingresar</a></button>
    <button><a href="/usuario/registrarse">Registrarse</a></button>
    <br>
    <h2>Nuestra seleccion de peliculas:</h2>
    <button></button>
    <br>

</body>
</html>