<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil de usuario</title>
</head>
<body>
    <h1>Tu Perfil</h1>
    <br>
    <h3>Nombre Completo:</h3>
    <h3>Correo Electronico:</h3>
    <br>
    <button><a href="/usuario/editar/<%= usuarios.id %> ">Editar perfil</a></button>
    <form action="/usuario/borrar/<%= usuarios.id %>?_method=DELETE" method="POST">
        <button type="submit">Borrar perfil</button>
    </form>
    <br>
    <button><a href="/">Volver al listado de peliculas</a></button>
</body>
</html>